<!DOCTYPE html>
<html lang="en">
<body>
	
	<h1>DBMS Query System</h1>
	<fieldset>
	<legend> Query Set 1: </legend>
	<form action="/AfterFirstSelection" method="POST">
		<input type="radio" name="SelectQuery" value="0">List companies based on specified 'Storage-Unit' location <br>	
		<input type="radio" name="SelectQuery" value="1">List facilities of a particuar manufacturer <br>
		<input type="radio" name="SelectQuery" value="2">List Packaging Details of goods that a particular manufacturer can ship <br>
		<input type="radio" name="SelectQuery" value="3">List performance metrics {Theft, Delay, Damages }of all transporters <br>
		<input type="radio" name="SelectQuery" value="4">List all goods of 'End User' that need to be shipped  <br>
		<input type="submit" value="Send"><br>
	</form>
	</fieldset>
	<fieldset>
	<legend> Query Set 2: </legend>
	<form action="/AfterFirstSelection" method="POST">
		<input type="radio" name="SelectQuery" value="7">List Transporter who can transport particular consignment for a manufacturer <br>
		<input type="radio" name="SelectQuery" value="6">Order Transporter, in descending order of average delivery time <br>	
		<input type="radio" name="SelectQuery" value="5"> Net Value of Consignment for each Manufacturer<br>	
		<input type="radio" name="SelectQuery" value="8">Output Transporters with count of, different type of transport options for particular Cargo Type<br>
		<input type="radio" name="SelectQuery" value="9">Compare Rating <br>
		<input type="submit" value="Send"><br>
	</form>
	</fieldset>
</body>
</html>
