<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Python Flask Bucket List App</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

    <SCRIPT TYPE="text/javascript">
    <!--
    function dropdown(mySel)
    {
        var myWin, myVal;
        myVal = mySel.options[mySel.selectedIndex].value;
        if(myVal)
        {
            if(mySel.form.target)myWin = parent[mySel.form.target];
            else myWin = window;
            if (! myWin) return true;
            myWin.location = myVal;
        }
        return false;
    }
    //-->
    </SCRIPT>


 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li role="presentation" class="active"><a href="#">Query 1</a>
                    </li>
                    <li role="presentation" class="active"><a href="#">Query 2</a>
                    </li>
                    <li role="presentation" class="active"><a href="#">Query 3</a>
                    </li>
                    <li role="presentation" class="active"><a href="#">Query 4</a>
                    </li>
                    <li role="presentation" class="active"><a href="#">Query 5</a>
                    </li>
                    <li role="presentation" class="active"><a href="#">Query 6</a>
                    </li>
                    <li role="presentation" class="active"><a href="#">Query 7</a>
                    </li>
                    <li role="presentation" class="active"><a href="#">Query 8</a>
                    </li>
                    <li role="presentation" class="active"><a href="#">Query 9</a>
                    </li>
                    <li role="presentation" class="active"><a href="#">Query 10</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">Sign Up</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Python Flask App</h3>
        </div>
 
        <div class="jumbotron">
            <h1>Bucket List App</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign up today</a>
            </p>
        </div>
 
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Bucket List</h4>
                <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
 
                <h4>Bucket List</h4>
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
 
                <h4>Bucket List</h4>
                <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
            </div>
 
            <div class="col-lg-6">
                <h4>Bucket List</h4>
                <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
 
                <h4>Bucket List</h4>
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
 
                <h4>Bucket List</h4>
                <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
            </div>
        </div>
 
        <footer class="footer">
            <p>&copy; Company 2015</p>
        </footer>
 
    </div>
</body>
 
</html>