<!DOCTYPE html>
<html lang="en">
<body>
	<h1> Query: List facilities of a particuar manufacturer  </h1>
	<fieldset> 
	<legend> Query Database: </legend> 
	<form action="/QueryProcessing7">
		<input type="submit" value="Query"> 
	</form>
	</fieldset>
	<fieldset> 
	<legend> Output : </legend>
	<table border = 1>
		<tr>
			<th> Transporter </th>
			<th> Good Type </th>
		</tr>
		{%  for tuple in output_tuple  %}
				<tr> 
					<td> {{tuple[0]}} </td>
					<td> {{tuple[1]}} </td>
				</tr>
		{% endfor %}
	</table>
	</fieldset>
	<fieldset>
	<legend> Restart </legend>
	<form form action="/">
		<input type="submit" value="Restart"> 	
	</form>
	</fieldset>
	
</body>
</html>
