<!DOCTYPE html>
<html lang="en">
<body>
	<h1> Query: List of manufacturer having factory at location 'X' </h1>
	<h2> {Rating is on a scale of five} </h2>
	<fieldset> 
	<legend> Input </legend> 
	<form action="/QueryProcessing9">
		<input type="submit" value="Query"> 
	</form>
	</fieldset>
	<fieldset> 
	<legend> Output : </legend>
	<table border = 1>
		<tr>
			<th> Transporter </th>
			<th> Rating  </th>
		</tr>
		{%  for tuple in output_tuple  %}
				<tr> 
					<td> {{tuple[0]}} </td>
					<td> {{tuple[1]}} </td>
				</tr>
		{% endfor %}
	</table>
	</fieldset>
	<fieldset>
	<legend> Restart </legend>
	<form form action="/">
		<input type="submit" value="Restart"> 	
	</form>
	</fieldset>
</body>
</html>
