<!DOCTYPE html>
<html lang="en">
<body>
	<h1> Query: List performance metrics {Theft, Delay, Damages }of all transporters   </h1>
	<h2> All metrics are based on a scale of 5 </h2>
	<fieldset> 
	<legend> Input </legend> 
	 <form action="/QueryProcessing3">
		Press Button to Quey Database <br>
		<input type="submit" value="Query"> 
	</form>
	</fieldset> 
	<fieldset> 
	<legend> Output : </legend>
	<table border = 1>
		<tr>
			<th> Transporter </th>
			<th> Theft </th>
			<th> Delay </th>
			<th> Damages </th>
		</tr>
		{%  for tuple in output_tuple  %}
				<tr> 
					<td> {{tuple[0]}} </td>
					<td> {{tuple[1]}} </td>
					<td> {{tuple[2]}} </td>
					<td> {{tuple[3]}} </td>
				</tr>
		{% endfor %}
	</table>
	</fieldset>
	<fieldset>
	<legend> Restart </legend>
	<form form action="/">
		<input type="submit" value="Restart"> 	
	</form>
	</fieldset>
	
</body>
</html>
